main{
    width: 100%;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.side-bar{
    width: 20%;
}

.trailers{
    background-color: rgba(245, 245, 245, 0.041);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 20px;
    color: white;
    border: 1px solid rgba(245, 245, 245, 0.418);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}

.continue{
    background-color: rgba(245, 245, 245, 0.041);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 20px;
    color: white;
    border: 1px solid rgba(245, 245, 245, 0.418);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    margin-top: 7%;
}

.main-content{
    width: 78%;
}

.trailers h2{
    margin: 0;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
}

.people-card1{
    background-image: url("../images/naval.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 150px;
    display: flex;
    align-items: end;
}

.gradient-line{
    background-color: rgba(27, 27, 27, 0.219);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.gradient-line p{
    margin: 0;
    flex: 1;
}

.people-play-btn{
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;    
    color: white;
}

.people-card2{
    background-image: url("../images/prig.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 150px;
    display: flex;
    align-items: end;
    margin-top: 20px;
}

.continue h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.conti-line1, .conti-line2, .conti-line3{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    gap: 10px;
}

.conti-line1 img, .conti-line2 img, .conti-line3 img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid rgba(245, 245, 245, 0.418);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    flex-shrink: 0;
}

.content{
    flex: 1;
}

.conti-line1 .content .seria, .conti-line2 .content .seria, .conti-line3 .content .seria{
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.664);
}

.conti-line1 .content .name, .conti-line2 .content .name, .conti-line3 .content .name{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.conti-play-btn{
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;
    color: white;
    flex-shrink: 0;
}