body{
    margin: 0;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    padding: 2%;
}

.glass{
    background-color:rgba(245, 245, 245, 0.226) ;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.336);
    padding: 1.2%;
}

a,p,h1,h2,h3,button,input{
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
}

header .left{
    width: 20%;
}

.search{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(245, 245, 245, 0.192);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    padding: 0 20px;
    color: white;
}

.search p{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.747);
}

header .right{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

























































